@import "tailwindcss";

/* Load DaisyUI as a plugin here */
@plugin "daisyui";

@theme {
  --color-primary: #1F7A5A;
  --color-secondary: #F4F7F5;
  --color-accent: #F59E0B;
  
  --color-base-100: #ffffff;
  --color-base-200: #F4F7F5;
  --color-base-300: #D1D5DB;
  
  --color-neutral: #1f2937;
  --color-neutral-content: #6b7280;
  
  --color-success: #10b981;
  --color-warning: #F59E0B;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}